@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #fcfcfd;
    --color-text: #3e3d44;
    --color-primary: #8647e1;
    --color-secondary: #eae2fd;
  }

  .dark {
    --color-bg: #161618;
    --color-text: #ededef;
    --color-primary: #b97aff;
    --color-secondary: #301e41;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: (--font-montserrat);
}
